{% extends 'navbar1.html' %}

{% block content %}
<style>
    @media (min-width: 992px) {
        
        .box {
        background-color: #f5f2f2; 
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        margin: 20px auto; 
        max-width: 80%; 
        padding: 220px;
        margin-right: 20px;
    }
    }
</style>

<div class="container">
    <div class="box">
       <h1 class="text-center text-danger">Welcome Admin</h1> 
    </div>
</div>
{% endblock %}
